.mainDiv{
    border-style: groove;
}


.inputLabel{
        margin-top: 20px;
        text-align: right;
        margin-right: 100px;
        font-size: 17px;
        font-family: sans-serif;
        color: grey;
}

.inputLabelRight{
        margin-top: 20px;
        text-align: right;;
        padding-left: 180px;
        font-size: 17px;
        font-family: sans-serif;
        color: grey;
}

.inputFields{
        margin-top: 20px;
        margin-right: 650px;
        width: 250px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
}

.elementsStyle1{
        display: table-cell;
        width: 500px;
        word-spacing: 300px;
        padding-left: 5px;
}

.descStyle{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 250px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
}

.imgStyle{
        margin-top: 20px;
        margin-left: 60px;
        margin-right: 80px;
        width: 40px;
        height: 40px;
}

.readStyle{
        margin-top: 20px;
        margin-left: 620px;
        word-spacing: 30px;
        width: 40px;
        height: 40px;
        font-size: 17px;
        font-family: sans-serif;
        color: black;
        font-weight: bold;
}

button {
    margin-top: 20px;
    margin-left: 630px;
    width: 90px;
    height: 25px;
    text-decoration-color: black;
    border-radius: 5px;
    font-weight: bold;
    border-color: grey;
    margin-bottom: 20px;
}
